[submodule "extra/isl-cpp"]
	path = extra/isl-cpp
	url = https://github.com/jleben/isl-cpp.git
[submodule "extra/isl"]
	path = extra/isl
	url = https://github.com/jleben/isl.git
	branch = changes-d8de4ea5
