#include "@test_header@"
#include "unit_test.hpp"

#include <string>
using std::string;

int main(int argc, char *argv[])
{
    if (argc < 2)
    {
        cerr << "ERROR: Command line: missing argument: test name." << endl;
        return 1;
    }

    string test_name = argv[1];

@test_function_call_code@

    cerr << "ERROR: No such test: '" << test_name << "'" << endl;

    return stream::unit_test::failure;
}
