#include "@test_header@"
#include "unit_test.hpp"

#include <string>
#include <iostream>

using std::string;
using namespace stream::unit_testing;

int main(int argc, char *argv[])
{
    if (argc < 2)
    {
        std::cerr << "ERROR: Command line: missing argument: test name." << std::endl;
        return 1;
    }

    string test_name = argv[1];

@test_function_call_code@

    std::cerr << "ERROR: No such test: '" << test_name << "'" << std::endl;

    return stream::unit_testing::failed;
}
